<div #forexBody class="forex-body">
  <section class="home">
    <div class="d-flex flex-column justify-content-center align-items-center p-3">
      <h1 class="fw-normal">GUIA DEFINITIVO</h1>
      <span class="trade display-1 fw-bold">FOREX TRADING</span>
      <span class="fs-3 text-center">O caminho para a sua liberdade financeira</span>
    </div>

    <div class="video-forex d-flex justify-content-center p-4">
      <app-video-player
        [videoId]='videoId'
        [videoWidth]="videoWidth"
        (onVideoFinish)="handleVideoFinished($event)"
      ></app-video-player>
    </div>

    <div class="d-flex justify-content-center mt-4 px-md-0 px-4">
      <button type="button" class="btn btn-forex">QUERO TER MINHA LIBERDADE FINANCEIRA!</button>
    </div>

    <div *ngIf="isVideoFinished">
    </div>
  </section>
</div>