html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  font-family: 'Poppins', sans-serif;
}

.forex-body {
  color: #fafafa;

  .buy-link {
    color: #fafafa;
    background-color: #00B247;
    font-size: 32px;

    span {
      color: #0500FF;
    }

    div {
      font-size: 24px;
    }
  }

  section.home {
    .trade {
      font-family: 'Genos', sans-serif;
    }
    
    .video-forex {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .btn-forex {
      background-color: #00B247;
      color: #fafafa;
      font-size: 26px;
      border-radius: 15px;
      box-shadow: 0px 0px 50px #00B247;
    }
  }

  section.know-forex {
    .title {
      font-size: 32px;
    }

    .loss {
      color: red;
    }

    .win {
      color: #00B247;
    }

    .about-forex {
      background-color: #0400BE;
      color: #fafafa;
      font-size: 24px;
    }

    .steps-forex {
      padding: 24px 100px;
    }

    .ebook {
      background-color: #00B247;

      &-price {

        font-weight: 600;

        &-label span {
          background-color: #0500FF;
        }

        &-installment {
          font-size: 48px;
        }

        &-value {
          font-size: 100px;
        }
      }
    }

    .tips {
      background-color: rgba(19, 19, 19, 0.483);
    }
  }
}