html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  font-family: 'Poppins', sans-serif;
}

.forex-body {
  color: #fafafa;

  .line-through {
    text-decoration: line-through;
    text-decoration-color: red;
    padding-left: 10px;
  }

  .buy-link {
    color: #fafafa;
    background-color: #00B247;
    font-size: 32px;

    span {
      color: #0500FF;
    }

    div {
      font-size: 24px;
    }

    a {
      cursor: pointer;
    }
  }

  section.home {
    .trade {
      font-family: 'Genos', sans-serif;
    }

    .btn-forex {
      background-color: #00B247;
      color: #fafafa;
      font-size: 26px;
      border-radius: 15px;
      box-shadow: 0px 0px 50px #00B247;
    }
  }

  section.know-forex {
    .title {
      font-size: 32px;
    }

    .loss {
      color: red;
    }

    .win {
      color: #00B247;
    }

    .about-forex {
      border: 3px solid #0400BE;
      background-color: #000000;
      box-shadow: 0px 0px 50px #0400BE;
      color: #fafafa;
      font-size: 24px;
    }

    .steps-forex {
      padding: 24px 100px;
    }

    .warrant {
      border-top: 1px solid #00B247;
      box-shadow: 0px 0px 20px #00B247;

      .payback {
        width: 250px;
        height: 100px;
      }
        
      img {
        width: 100px;
        height: 100px;
      }
    }

    .ebook {
      background-color: #00B247;

      &-price {

        font-weight: 600;

        &-label span {
          background-color: #0500FF;
        }

        &-installment {
          font-size: 42px;
          line-height: 1;
        }

        &-value {
          font-size: 100px;
        }
      }
    }
  }
}

@media (max-width: 768px) {  
  .ebook-price-installment {
    font-size: 24px !important;
    line-height: 1;
  }
  
  .ebook-price-value {
    font-size: 48px !important;
    line-height: 1;
  }
}
