<div #forexBody class="forex-body">
  <section class="home">
    <div class="d-flex flex-column justify-content-center align-items-center p-3">
      <h1 class="fw-normal">GUIA DEFINITIVO</h1>
      <span class="trade display-1 fw-bold">FOREX TRADING</span>
      <span class="fs-3 text-center">O caminho para a sua liberdade financeira</span>
    </div>

    <div class="video-forex d-flex justify-content-center p-4">
      <app-video-player
        [videoId]='videoId'
        [videoWidth]="videoWidth"
        (onVideoFinish)="handleVideoFinished($event)"
      ></app-video-player>
    </div>

    <div class="d-flex justify-content-center mt-4 px-md-0 px-4">
      <button (click)="openBuyLink()" type="button" class="btn btn-forex">QUERO TER MINHA LIBERDADE FINANCEIRA!</button>
    </div>

    <hr />
    <div *ngIf="isVideoFinished">

      <section class="know-forex">
        <div class="px-3 px-md-5">
          <div class="title text-center">
            QUANTO DINHEIRO <span class="loss"> VOCÊ PERDEU </span> HOJE POR <span class="win"> NÃO CONHECER </span> O FOREX?
          </div>
  
          <div class="mt-4 text-center">
            Entenda como faturar no mercado mais lucrativo do mundo
          </div>
  
          <div class="d-flex justify-content-center mt-5">
            <img
              src="assets/desktop.png"
              alt="desktop"
              [width]="dimension.width < 500 ? dimension.width * .9 : dimension.width * .5"
            >
          </div>
        </div>

        <div class="buy-link my-5 p-3 p-md-4 text-center">
          <a (click)="openBuyLink()"> TENHA O GUIA DEFINITIVO PARA SAIR DO ZERO <br />E DESBLOQUEAR SUA <span>LIBERDADE FINANCEIRA</span></a>
        </div>

        <div class="about-forex my-5 p-4 mx-5 text-center">
          “O mercado Forex é o mercado global de câmbio de moedas, onde as moedas são compradas e vendidas com o objetivo de obter lucro com as flutuações das taxas de câmbio. É um mercado altamente líquido e volátil, e requer uma compreensão sólida das tendências do mercado, bem como uma análise cuidadosa dos riscos envolvidos. “
        </div>

        <div class="buy-link my-5 p-3 p-md-4 text-center">
          <a (click)="openBuyLink()">MAS COMO SABER SE O FOREX PODE SER <br /> LUCRATIVO <span>PARA VOCÊ?</span></a>

          <div class="mt-2">
            <a (click)="openBuyLink()">Alguns pontos a serem considerados antes de realizar o investimento:</a>
          </div>
        </div>

        <div class="steps-forex text-center">
          <div>1.Conhecimento e experiência: O mercado Forex requer uma compreensão sólida dos fundamentos econômicos e financeiros, bem como uma análise cuidadosa das tendências do mercado. Se você não tem experiência ou conhecimento suficiente, pode ser difícil obter lucro no mercado Forex.</div>
          <div class="my-5">2.Capital disponível: O mercado Forex é altamente alavancado, o que significa que é possível negociar grandes volumes de moeda com um pequeno capital inicial. No entanto, isso também significa que o risco é alto e uma perda pode rapidamente apagar todo o capital investido.</div>
          <div>3.Habilidade de gestão de risco: Para ser bem-sucedido no mercado Forex, é essencial gerenciar o risco de forma eficaz. Isso envolve a criação de um plano de negociação sólido e disciplina para seguir esse plano, incluindo a definição de limites de perda e a utilização de stop-loss.</div>
        </div>

        <div class="buy-link my-5 p-3 p-md-4 text-center">
          <a (click)="openBuyLink()">TODOS ESSES PONTOS SERÃO APRESENTADOS NO <span>EBOOK</span> <br />  A FIM DE TE PREPARAR PARA REALIZAR SEUS APORTES E <br /> OBTER SUA <span>LIBERDADE FINANCEIRA</span></a>
        </div>

        <div class="ebook row m-0">
          <div class="col-12 col-md-6 p-0">
            <img src="assets/book.png" alt="book" width="100%">
          </div>

          <div class="ebook-price col-12 col-md-6 px-5 pb-5 pb-md-0">
            <div class="ebook-price-label d-flex justify-content-center">
              <span class="py-2 px-4">SEU POR APENAS</span>
            </div>
  
            <div class="d-flex justify-content-center align-items-center h-100 d-flex flex-column">
              <div>
                <div class="ebook-price-installment text-md-start text-center">12X</div>
                <div class="ebook-price-value">R$8,08</div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-4 px-md-0 px-4 mb-5 pt-4">
          <button (click)="openBuyLink()" type="button" class="btn btn-forex">QUERO TER MINHA LIBERDADE FINANCEIRA!</button>
        </div>

        <div class="tips mt-5 pt-5 p-5 text-center">
          <div class="mb-5">Negociar Forex lucrativamente requer que empregue uma estratégia bem definida. Com o livro forex trading: o caminho para a sua liberdade financeira você aprenderá tudo sobre padrões gráficos, analises de gráficos e padrões de candles devidamente explicado e detalhado para você desenvolver a melhor estratégia para seu desenvolvimento de patrimônio e construção da sua liberdade Financeira.</div>
          <div class="mb-5">Muitas vezes isso pode parecer um desafio, mas não desista. Compreenda bem o básico de como o mercado funciona e, se houver algo com que se sinta desconfortável, não opere. </div>
          <div class="mb-5">Isso se aplica tanto ao investimento em forex quanto a qualquer outro mercado se acha que tem o que é preciso para negociar em Forex, vá em frente, mas uma palavra de cautela, aqui negocie apenas com capital de risco dinheiro que pode perder sem afetar o seu padrão de vida.</div>
          <div>Além disso, seria sensato garantir que tenha outros tipos de investimentos. Idealmente, o Forex não deve exceder mais de 20% de todo o seu portfólio de investimentos. Isso é conhecido como diversificação de portfólio e é amplamente utilizado por muitos profissionais bem sucedidos.</div>
        </div>
      </section>
    </div>
  </section>
</div>